body {
    font-family: Arial, sans-serif;
}

.error-marker {
    position: absolute;
    background: red;

}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ace_editor {
    font-size: 20px;

}

